.cadastrar-form{
    border: 1px solid var(--color-border);
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    margin-top: 80px;
}

.cadastrar-form input:last-child{
    background-color: var(--color-five);
    font-size: 1.2rem;
    margin-top: 20px;
    color: var(--color-second);
    width: 300px;  
    cursor: pointer;
    border: 0; 
    transition: .2s; 
}

.cadastrar-form input:last-child:hover{
    filter:brightness(1.2);
}