.editar-form{
    border: 1px solid #42EFE9;
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
    margin-top: 80px;
}

.editar-form input:last-child{
    background-color: #9BFCE8;
    font-size: 1.2rem;
    margin-top: 20px;
    width: 300px;  
    cursor: pointer; 
    transition: .2s;
    border: 0; 
}

.editar-form input:last-child:hover{
    filter:brightness(1.2);
}