.login{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    background: rgba(0, 0, 0, 0.8);
}

.login-container{
    width: min(42rem, 90%);
    height: min(33rem, 90%);
    background: var(--color-second);
    margin: auto;
    border-radius: 4px; 
    display: flex;   
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transform: translateY(-80px);
}

.login label{
    color: var(--color-label);
    text-transform: uppercase;
}

.login label:first-child{
    margin-bottom: 40px;
}

.login input[type=password]{
    margin-bottom: 20px;
}

.login input{
    width: 400px;
    display: block;
    margin-top: 5px;  
}

.login-button{
    display: flex;
    justify-content: center;
    
}

.login input[type=button]{
    background-color: var(--color-button1);
    text-transform: uppercase;
    transition: filter .2s;
    color: var(--color-second);
    width: 300px;
    border: 0;
}

.login input[type=button]:hover{
    filter: brightness(1.2);
}

#animar{
    animation: slider .6s forwards;
}

@keyframes slider{
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

