.login{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    background: rgba(0, 0, 0, 0.8);
}

.login-container{
    width: min(40rem, 90%);
    height: min(25rem, 90%);
    background: #f4f4f4;
    margin: auto;
    border-radius: 4px;    
    display: flex;
    justify-content: center;
    align-items: center;
    }


.login label{
    color: black;
    text-transform: uppercase;
}

.login input[type=password]{
    margin-bottom: 20px;
}

.login input{
    width: 400px;
    display: block;
    margin-top: 5px;    
}

.login-button{
    display: flex;
    justify-content: center;
    
}

.login input[type=button]{
    background-color: #14237A;
    text-transform: uppercase;
    transition: filter .2s;
    color: #f4f4f4;
    width: 300px;
}

.login input[type=button]:hover{
    filter: brightness(1.2);
}

